@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.azeret {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
.mainheader{
    background-image: url(assets/Hero-bg.png);
    max-width: 1440px;
    height: 650px;
}
.firstpage{
    display: flex;
    justify-content: center;
    margin: 0px 220px 100px 220px ;
}
.firstdetails{
   max-width: 998px;
   
    
}
.firstimage{
  margin-left: 400px;

}
.near{
    color:#0D1321 ;
    font-size: 48px;
    text-align: center;
    font: Azeret Mono;
}
.prag0{
    color: #0D1321;
    font-size: 20px;
    margin-left: 100px;
}
.btn{
    color:white;
    background-color: #0D1321;
    border: none;
    font-weight: 50% bold;
    font-size: 20px;
    padding:18px 35px ;
    border-radius: 5px;
    margin-left: 400px;
    margin-top: 20px;
}
.secondpages{
    display: flex;
    justify-content: center;
    margin: 50px 220px 100px 220px ;;
    background-color: rgb(228, 233, 233);
    width: 1140px;
   
    
}
.seconddetails{
    max-width: 850px ;
    border: 3px;
    border-radius: 7px;
}
.whymain{
    text-align: center;
    margin-top:70px;

}
.why{
    color: #0D1321;
    font-weight: 2*bold;
    font-size: 32px;
}
.pragraph{
    color: #0D1321;
    font-size: 16px;
     margin: 0px 90px 0px 90px;
    
}
.seconditem{
    display: flex;
    gap: 100px;
    background-color: white;
    margin-bottom: 50px;
    padding: 20px 20px 10px 40px ;
    border-radius: 5px;
    margin-top: 50px;
   
     
}
.secondall h2{
    color: #0D1321;
    font-size: 24px;
    font-weight: bold;
}
.prag2{
    color:#0D1321 ;
    font-size: 16px;
}
.learnmore{
    width: 172px;
    height: 47px;
    margin-top: 15px;
    background: none;
    font-size: 20px;
    font-weight: 50% bold;
}
.secondall3{
    display: flex;
    gap: 100px;
    background-color: white;
    margin-bottom: 50px;
    padding: 20px 20px 10px 40px ;
    border-radius: 5px;
}
.inspriration{
    display: flex;
    justify-content: center;
    margin-left: 100px;

}
.video{
    max-width: 1140px;
}
.youtube{
background-color: rgb(211, 221, 221);
border-radius: 7px;
margin-top: 50px;
 
}
.tubevideo{
    padding: 20px 0px 20px 30px;
    border-radius: 7px;
}
.target{
    display: flex;
    justify-content: center;
    margin-left: 80pxpx;
}
.contenertarget{
    max-width: 1140px;
}
.stylelogo{
   display: flex;
   gap: 20px;
   justify-content: right;
}
.skills{
 background-color: rgb(218, 246, 246);
 border: 5px;
 border-radius: 10px;
 padding: 30px;
 border-radius: 8px;
 margin-top: 50px;
 margin-bottom: 130px;
 justify-content: right;
 width: 364px;
}
.skillss{
    background-color:bisque;
    border: 5px;
    border-radius: 10px;
    padding: 30px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 130px;
    justify-content: right;
    width: 364px;
   }
   .skillsss{
    background-color: beige;
    border: 5px;
    border-radius: 10px;
    padding: 30px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 130px;
    justify-content: right;
    width: 364px;
   }
   .support{
    display: flex;
   text-align: center;
   justify-content: center;
   
    
   
   }
   .needsupport{
    max-width: 1140px;
    background-image: url(assets/handshake.jpg);
    height: 313px;
    border-radius: 15px;
    
    
   }
   .needtext{
    margin-top: 50px;
    font-weight: bold;
    font-size: 32px ;
    color: white;
   }
.needpg{
    font-size: 16px;
    color: white;
    margin: 0px 200px 0px 200px;
}
.inputsupport{
    border: 5px white;
    border-radius: 5px;
    width:548px ;
    height: 50px;
    margin-top: 40px;
    font-size: 16px;
    padding: 5px 5px 5px 15px;  

}
.submit{
    width: 120px;
    height: 57px;
    border: 5px white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 50%bold;
}
footer{
    background-color: bisque;
    margin-top: 25px;
}
.fotercontener{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1140px;
    margin-left: 156px;
}
.footerpg{
    margin-top: 30px;

}
.fotercontener ul {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: right;
}

   


